@tailwind base;
@tailwind components;
@tailwind utilities;


.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  padding-top: 4rem;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

